@charset "UTF-8";
/*
----------------------------------------------------------------------*/

@import url("{"css/reset.css"|site_url}");
@import url("{"css/core.css"|site_url}");

/*
----------------------------------------------------------------------*/

/*rem用フォント指定*/
html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
 	background-color: #1d1d1d;
 	color:#fff;
	vertical-align: baseline;
	width:100%;
	margin: 0 auto;
}
