<!doctype html>
<html lang="ja" xml:lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="-1">
        <meta name="format-detection" content="telephone=no">
        <title>アイドルマスター シンデレラガールズ</title>
        <link rel="stylesheet" type="text/css" href="../../../../12008305/css/rich/new_mypage_common.css" media="all">
        <link rel="apple-touch-icon-precomposed" href="../../../../12008305/image_sp/ui/icon_bookmark.png">
        <script>
            (function() {
                window.console.log = function() {}
                ;
            }
            )();
        </script>
        <script type="text/javascript">
            if (window.localStorage) {
                var displaySet = localStorage.getItem('DisplayPositionSet');
                if (displaySet == 1) {
                    if (navigator.userAgent.indexOf('Android') > 0) {
                        document.write('<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">');
                        document.getElementsByTagName('html')[0].style.zoom = document.documentElement.clientWidth / 320;
                    } else {
                        document.write('<meta name="viewport" content="width=320, user-scalable=no">');
                    }
                    window.addEventListener('resize', function() {
                        if (navigator.userAgent.indexOf('Android') > 0)
                            document.getElementsByTagName('html')[0].style.zoom = document.documentElement.clientWidth / 320;
                    });
                } else {
                    document.write('<meta name="viewport" content="width=device-width, user-scalable=no">');
                }
            } else {
                document.write('<meta name="viewport" content="width=device-width, user-scalable=no">');
            }
        </script>
        <script src="../../../../12008305/js/jquery-2.2.2.min.js"></script>
        <script>
            (function() {
                window.viewer_id = 150014132;
                var _url = "http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/game_error/report_js_error%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D356685296";
                var _path = location.href;
                var _spec_obj;
                var _spec = 'none';
                var version = 1;
                // access方法検出
                _spec_obj = {
                    'isNative': false,
                    'isAndApp': false,
                    'isShellApp': false,
                    'isIosApp': false,
                    'isChromeApp': false
                };
                window._spec = _spec_obj;
                if (_spec.isAndApp) {
                    _spec = 'andapp'
                } else if (_spec.isIosApp) {
                    _spec = 'iosApp';
                } else if (_spec.isShellApp) {
                    _spec = 'shellapp';
                } else {
                    _spec = 'browser?';
                }
            }
            )();
        </script>
        <script src="../../../../12008305/js/underscore-min.js"></script>
        <script src="../../../../12008305/js/require.js"></script>
        <script src="../../../../12008305/js/require.js"></script>
        <script>
            requirejs.config({
                paths: {
                    easeljs: "../../../../12008305/js/easeljs-0.8.2.min",
                    easeljs_0_7_1: "../../../../12008305/js/easeljs-0.7.1.min",
                    //スプライトを読むためのバージョン
                    tweenjs: "../../../../12008305/js/tweenjs-0.6.2.min",
                    movieclipjs: "../../../../12008305/js/movieclip-0.7.1.min",
                    createjs: "../../../../12008305/js/createjs-2015.11.26.min",
                }
            })
        </script>
        <script src="../../../../12008305/js/common.js"></script>
        <script src="../../../../12008305/js/common_new.js"></script>
        <script>
            $(function() {
                window.$ibox = $('.ibox').ibox();
            });
        </script>
        <script>
            $(document).ready(function() {
                if (typeof newrelic === 'object' && typeof newrelic.setPageViewName === 'function') {
                    newrelic.setPageViewName('/idolmaster/index.php/campaigns/whiteday_present/index');
                }
            });
        </script>
        <script type='text/javascript'>
            var se_flg = 0
              , bgm_flg = 0
              , chrome_app_flg = 0
              , chrome_app_extension_id = 'dnacabmnfmejgfffmcehejcmiciinpej';
        </script>
        <script type='text/javascript' src='../../../../12008305/js/app_sound.js'></script>
        <link rel="stylesheet" type="text/css" href="../../../../css/base.css"/>
    </head>
    <body id="whiteday_present" class="index">
        <div id="top" class="page_container jsOnBtn">
            <nav class="area_menu_header">
                <div class="area_menu_header_6btn">
                    <h1 id="JtextLimit">화이트데이 답례 캠페인</h1> <!--ホワイトデーお返しキャンペーン-->
                    <ul>
                        <li>
                            <a class="head_menu_01" href="http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/mypage%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D840502378">
                                <div></div>
                            </a>
                        </li>
                        <li>
                            <a class="head_menu_02" href="http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/petit_cg%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D433278506">
                                <div></div>
                            </a>
                        </li>
                        <li>
                            <a class="head_menu_03" href="http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/gacha%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D131321748">
                                <div></div>
                            </a>
                        </li>
                        <li>
                            <a class="head_menu_04" href="http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/card_str%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D339978553">
                                <div></div>
                            </a>
                        </li>
                        <li>
                            <a class="head_menu_05" href="http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/auction/auction_top%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D572521847">
                                <div></div>
                            </a>
                        </li>
                        <li>
                            <a class="head_menu_06 se_000" href="#" id="headerAcd">
                                <div></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="headerPopupMenu" class="headerPopupMenu">
                    <div class="m-Top10 t-Cnt">
                        <a href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/event_jam/index%3Fbanner_id%3D0002008%26img%3D0%26l_frm%3DWhiteday_present_index_1%26rnd%3D354361827' class="jsOnDesignBtn">
                            <img src='http://sp.pf-img-a.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/image_sp/event/2008/banner_event_01.png%3Fv%3D20210309144716' width="280" height="60">
                        </a>
                    </div>
                    <div class="area_menu_header_main4">
                        <ul>
                            <li>
                                <a class="btn_menu_header_lesson" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/card_str%3Fl_frm%3DWhiteday_present_index_2%26rnd%3D320490677'>
                                    <div></div>
                                </a>
                            </li>
                            <li>
                                <a class="btn_menu_header_work" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/quests%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D571225959'>
                                    <div></div>
                                </a>
                            </li>
                            <li>
                                <a class="btn_menu_header_livebattle" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/battles%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D254208520'>
                                    <div></div>
                                </a>
                            </li>
                            <li>
                                <a class="btn_menu_header_deck" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/deck%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D998407588'>
                                    <div></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <h3 class="icon_menu_header_01"></h3>
                    <div class="area_menu_header_4">
                        <ul>
                            <li>
                                <a class="btn_menu_header_shop" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/shop/index%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D617055156'>
                                    <div></div>
                                </a>
                            </li>
                            <li>
                                <a class="btn_menu_header_item" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/item/index%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D661639907'>
                                    <div></div>
                                </a>
                            </li>
                            <li>
                                <a class="btn_menu_header_present" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/present/recieve/%3Fview_auth_type%3D1%26cache%3D1%26l_frm%3DWhiteday_present_index_1%26rnd%3D399193880'>
                                    <div></div>
                                </a>
                            </li>
                            <li>
                                <a class="btn_menu_header_change" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/exchange/medal_list/999999%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D52887172'>
                                    <div></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <h3 class="icon_menu_header_02"></h3>
                    <div class="area_menu_header_5">
                        <ul>
                            <li>
                                <a class="btn_menu_header_idollist" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/card_list/index%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D970712693'>
                                    <div></div>
                                </a>
                            </li>
                            <li>
                                <a class="btn_menu_header_trainer" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/card_storage/index%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D251144118'>
                                    <div></div>
                                </a>
                            </li>
                            <li>
                                <a class="btn_menu_header_production" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/knights/not_join_knights_top%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D525923455'>
                                    <div></div>
                                </a>
                            </li>
                            <li>
                                <a class="btn_menu_header_pra" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/p_ranking_award%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D483942455'>
                                    <div></div>
                                </a>
                            </li>
                            <li>
                                <a class="btn_menu_header_profile" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/results%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D747684145'>
                                    <div></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <h3 class="icon_menu_header_03"></h3>
                    <div class="area_menu_header_4">
                        <ul>
                            <li>
                                <a class="btn_menu_header_favorite" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/friend/index%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D488474226'>
                                    <div></div>
                                </a>
                            </li>
                            <li>
                                <a class="btn_menu_header_memory" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/memorial%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D367989245'>
                                    <div></div>
                                </a>
                            </li>
                            <li>
                                <a class="btn_menu_header_gamecenter" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/game_center%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D931714829'>
                                    <div></div>
                                </a>
                            </li>
                            <li>
                                <a class="btn_menu_header_sound" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/s_booth%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D532184848'>
                                    <div></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <h3 class="icon_menu_header_04"></h3>
                    <div class="area_menu_header_3">
                        <ul>
                            <li>
                                <a class="btn_menu_header_setting" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/personal_option%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D840968330'>
                                    <div></div>
                                </a>
                            </li>
                            <li>
                                <a class="btn_menu_header_help" href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/advise/index/top%3Fl_frm%3DWhiteday_present_index_1%26rnd%3D348964639'>
                                    <div></div>
                                </a>
                            </li>
                            <li>
                                <a class="btn_menu_header_top" href='http://sp.pf.mbga.jp/12008305/?guid=ON'>
                                    <div></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <input id="delay" type="hidden" value="0">
            <link rel="stylesheet" type="text/css" href='../../../../12008305/css/rich/whiteday_2021.css' media="all">
            <div class="main_contents _into_header _campaign_top">
                <div class="header_area header_top m-Head_img"></div>
                <div class="area_whiteday">
                    <div class="msg_chihiro"></div>
                    <div class="whiteday_top_frame">
                        <div class="headline">
                            <div class="headline_select_idol m-Cnt"></div>
                        </div>
                        <div class="idol_received_area">
                            <div id="animation-container"></div>
                            <div class="name_plate num_1">
                                <img src='../../../../12008305/image_sp/ui/coming_tv/name_tag_horizontal/031.png'>
                            </div>
                            <div class="btn_area num_1">
                                <a href="http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/campaigns/whiteday_present/see_idol_flash%3Fidol_base_id%3D31%26l_frm%3DWhiteday_present_index_1%26rnd%3D839644758" class="btn_return jsOnDesignBtn" data-attr="1" data-id="31"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="selectArea type_02 m-Top16">
                <div class="selectArea_accordion_headline">注意事項
</div>
                <div class="selectArea_accordion">
                    <div class="selectArea_accordion_title">
                        <div>ホワイトデーお返しキャンペーンについて</div>
                    </div>
                    <div class="selectArea_accordion_body t-Lft">
                        <div class="selectArea_accordion_body_inner">
                            <p>・本キャンペーンのアイドルのコメントは、2020年の「ホワイトデーお返しキャンペーン」の復刻となります。</p>
                            <p>・キャンペーン期間中はバレンタインのギフトをもらったアイドルにお返しを渡すことができます。</p>
                            <p>・アイドルに渡したお返しは、プロデューサーも獲得することができます。</p>
                            <p class="gray">※獲得できるお返しは贈り物リストに送られます。</p>
                            <p>・同じアイドルにお返しを渡して、プロデューサーが獲得できるのは1回までです。</p>
                            <p>・本キャンペーンでお返しを渡すことのできるアイドルは、ぷちデレラが追加されているアイドルのみとなります。</p>
                            <p>・キャンペーン期間中は何度でもアニメーション演出を見ることができます。</p>
                            <p>・サーバーのレスポンス状況、通信状況によっては、アニメーション演出がご覧いただけない場合がございます。あらかじめご了承ください。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-Top12">
                <a href='http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/mypage%3Fl_frm%3DWhiteday_present_index_2%26rnd%3D825988029'>
                    <div class="backLink">マイスタジオ</div>
                </a>
            </div>
            <img src='http://sp.pf-img-a.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/image_sp/__DUMMY__.png%3Fv%3D20190909144730' id="js_dummy_path" style="display:none">
            <script type="text/template" id="template_item_get">

<div class="item_received_area"><div class="received-item-img"><img src="<%- _imgPath %>"></div><div class="popup_text t-Cnt"><p class="m-Top6 m-Btm12"><span class="attr_<%- attr %>"><%- name %></span>にお返しを渡しました。</p><p class="font-size-11">お返しは贈り物リストに送られました。</p><div class="m-Cnt m-Top8"><a href="http://sp.pf.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/present/recieve/%3Fview_auth_type%3D1%26cache%3D1%26l_frm%3DWhiteday_present_index_2%26rnd%3D570989108"><img src='http://sp.pf-img-a.mbga.jp/12008305/?guid=ON&amp;url=http%3A//125.6.169.35/idolmaster/image_sp/campaign/whiteday/2021/sprite/ui/btn_gift.png%3Fv%3D20210310144700' class="button_gift_list jsOnDesignBtn"></a></div></div></div>

            </script>
            <script src="../../../../12008305/js/ilibrary.js"></script>
            <script src="../../../../12008305/js/petit_cg/cheek/cheek1.js"></script>
            <script src="../../../../12008305/js/petit_cg/cheek/cheek2.js"></script>
            <script src="../../../../12008305/js/petit_cg/cheek/cheek3.js"></script>
            <script src="../../../../12008305/js/min/petit_manager_cjs_2.min.js"></script>
            <script>
                "use strict";
                $(function() {
                    // 受け取り結果　ポップアップ初期化
                    var popup = new Commonjs.Popup();
                    var item_get_template = $('#template_item_get').html();
                    window.dummy_path = $('#js_dummy_path').attr('src');
                    checkChihiroPresent();
                    // ぷち表示
                    var cjs_file = ['../../../../12008305/js/petit_cjs/petit_base.js'];
                    var petitManager = window.petitManager || new PetitManager();
                    var petitCanvasWidth = 608;
                    var petitCanvasHeight = 528;
                    var charaManager = [];
                    var characterList = [];
                    var petie_list = [{
                        "attribute": "1",
                        "body_type": "1",
                        "breast_size": "2",
                        "short_name": "\u30d5\u30ec\u30c7\u30ea\u30ab",
                        "image_url_list": {
                            "expression_1015": "../../../../12008305/js/petit_cg/expression/1015.js",
                            "hair_10015": "../../../../12008305/js/petit_cg/hair/10015.js",
                            "costume_1_20015": "../../../../12008305/js/petit_cg/costume/1/20015.js"
                        },
                        "sub_type_list": {
                            "head": null,
                            "hand": null,
                            "leg": null
                        },
                        "take_sub_type": {
                            "head": 1,
                            "hand": 1,
                            "leg": 1
                        },
                        "petit_csv_info_list": {
                            "costume_1_20015": {
                                "image_path": "../../../../12008305/image_sp/item/l/petit_cg/20015",
                                "accessory_name": "\u30dc\u30fc\u30c0\u30fc\u30cb\u30c3\u30c8\u30b3\u30fc\u30c7\u30fb\u30d5\u30ec\u30c7\u30ea\u30ab",
                                "explanation": "\u30d5\u30ec\u30c7\u30ea\u30ab\u306e\u30e9\u30d5\u3067\u30bb\u30af\u30b7\u30fc\u306a\u79c1\u670d\u3067\u3059\u3002<br>\u3082\u3053\u3082\u3053\u7d20\u6750\u3001\u89e6\u3063\u3066\u307f\u3061\u3083\u3046?",
                                "type_id": "2"
                            }
                        },
                        "petit_csv_sub_type_info_list": []
                    }];
                    var deffered = petitManager.requireCJS(cjs_file);
                    petitManager.constructor();
                    petitManager.canvas_width = 608;
                    petitManager.canvas_height = 528;
                    petitManager.canvas_recreate_flag = true;
                    charaManager = [];
                    deffered.done(function() {
                        petitManager.setCharacters(petie_list);
                        charaManager = petitManager.getAllChracter();
                    });
                    var charaPositionX = [[petitCanvasWidth / 2 + 14], [petitCanvasWidth / 3 + 10, (petitCanvasWidth / 3) * 2 + 10], [petitCanvasWidth / 2 + 14, petitCanvasWidth / 4 - 28, (petitCanvasWidth / 4) * 3 + 50]];
                    petitManager.loaded_action = function() {
                        petitManager.stage.removeAllChildren();
                        var charaCount = Object.keys(charaManager).length - 1;
                        var count = 0;
                        for (var i in charaManager) {
                            charaManager[i].cjs['visible'] = true;
                            charaManager[i].cjs.scaleX = charaManager[i].cjs.scaleY = 1.9;
                            charaManager[i].cjs['x'] = charaPositionX[charaCount][count];
                            charaManager[i].cjs['y'] = 334;
                            petitManager.stage.addChild(charaManager[i].cjs);
                            count++;
                        }
                        petitManager.stage.update();
                    }
                    // 注意事項
                    Commonjs.setAccordion();
                    function checkChihiroPresent() {
                        if ('0' == 1) {
                            location.href = "http://sp.pf.mbga.jp/12008305/?guid=ON";
                        }
                    }
                });
            </script>
            <footer>
                <div class="line_idolmaster"></div>
                <a href="#top" id="toPageTop" class="mypage_under">
                    <div></div>
                </a>
                <div class="t-Cnt">(C)窪岡俊之 (C)2011 BNEI</div>
            </footer>
        </div>
        <script>
            window._tarminal = {
                'native_app_flg': false,
                'android_app_flg': false,
                'ios_app_flg': false,
                'shell_app_flg': false
            };
        </script>
        <script>
            window._tarminal = {
                'native_app_flg': false,
                'android_app_flg': false,
                'ios_app_flg': false,
                'shell_app_flg': false
            };
        </script>
        <!--
        <div id="mbga-pf-footer">
            <div class="mbga-pf-footer-container odd-lines mbga-pf-footer-white">
                <ul>
                    <li class="mbga-pf-footer-list">
                        <div class="mbga-pf-fotter-content">
                            <a class="mbga-pf-footer-arrow" href="http://sp.mbga.jp/_grp_view?g=32095227">
                                <span class="mbga-pf-footer-caption">公式サークル</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="mbga-pf-footer-navbar">
                <ul class="mbga-pf-box-h">
                    <li id="mbga-pf-footer-navbar-icon-grid" class="mbga-pf-footer-li">
                        <a class="mbga-pf-footer-a mbga-pf-footer-home-w" href="http://sp.mbga.jp/?_from=globalfooter">
                            <span class="mbga-pf-footer-txt">ホーム</span>
                        </a>
                    </li>
                    <li id="mbga-pf-footer-navbar-icon-mypage" class="mbga-pf-footer-li">
                        <a class="mbga-pf-footer-a mbga-pf-footer-mypage-w" href="http://sp.mbga.jp/_my0?_from=globalfooter">
                            <span class="mbga-pf-footer-txt">マイページ</span>
                        </a>
                    </li>
                    <li id="mbga-pf-footer-navbar-icon-mygame" class="mbga-pf-footer-li">
                        <a class="mbga-pf-footer-a mbga-pf-footer-mygame-w" href="http://sp.mbga.jp/_game_my_top?_from=globalfooter">
                            <span class="mbga-pf-footer-txt">マイゲーム</span>
                        </a>
                    </li>
                    <li id="mbga-pf-footer-navbar-icon-notification" class="mbga-pf-footer-li">
                        <a class="mbga-pf-footer-a mbga-pf-footer-game-w" href="http://sp.mbga.jp/_game_top?_from=globalfooter">
                            <span class="mbga-pf-footer-txt">ゲーム</span>
                        </a>
                    </li>
                </ul>
            </div>
            <script type="text/javascript" charset="UTF-8">
                (function() {
                    document.addEventListener('DOMContentLoaded', function() {
                        var list = document.getElementsByClassName('mbga-pf-footer-li');
                        var i = 0
                          , l = list.length;
                        for (; i < l; i++) {
                            var elem = list[i];
                            elem.addEventListener('touchstart', function(e) {
                                e.currentTarget.className = e.currentTarget.className.replace(/$/, ' mbga-pf-tapped');
                            });
                            elem.addEventListener('touchend', function(e) {
                                e.currentTarget.className = e.currentTarget.className.replace(/ mbga-pf-tapped/, '');
                            });
                            elem.addEventListener('touchmove', function(e) {});
                        }
                    });
                }
                )();
            </script>
        </div>
        -->
    </body>
</html>
